@import 'material-icons/iconfont/material-icons.css';

.task-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;

  .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    cursor: pointer;

    .task-content {
      height: 100%;

      img {
        height: 80%;
        border-radius: 5px;
      }

      .icon {
        font-size: 10rem;
        margin-top: 1rem;
      }

      p {
        margin: 0;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .actions {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;

      .rw-button-small {
        font-size: 0.35rem;
      }
    }
  }
}
